<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Booking Page</title>
    </head>
    <body>
        <h1>Booking Web</h1>
        
        <h2>Room {{ room_num }}</h2>

        <form method="POST">
            {% csrf_token %}
            <label for="date">Date:</label>
            <input type="date" name="booking_date" required>
            <button type="submit" name="action" value="set_date">
                Submit
            </button>
        </form>

        <h3>Date {{ booking_date }}</h3>
        
        <h3>Booking Table</h3>

        <h4>9:00-10:00</h4>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="room_id" value={{ room_num }}>
            <input type="hidden" name="date" value="{{ booking_date }}">
            <input type="hidden" name="start_time" value="09:00:00">
            <input type="hidden" name="end_time" value="10:00:00">
            <button type="submit" name="action" value="book">
                Book
            </button>
        </form>

        <h4>10:00-11:00</h4>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="room_id" value={{ room_num }}>
            <input type="hidden" name="date" value="{{ booking_date }}">
            <input type="hidden" name="start_time" value="10:00:00">
            <input type="hidden" name="end_time" value="11:00:00">
            <button type="submit" name="action" value="book">
                Book
            </button>
        </form>

        <h4>11:00-12:00</h4>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="room_id" value={{ room_num }}>
            <input type="hidden" name="date" value="{{ booking_date }}">
            <input type="hidden" name="start_time" value="11:00:00">
            <input type="hidden" name="end_time" value="12:00:00">
            <button type="submit" name="action" value="book">
                Book
            </button>
        </form>

    </body>
</html>