<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Room select</title>
    </head>

    <body>
        <form action="{% url 'room_select' %}" method="post">
            {% csrf_token %}
            <label for="room">Room :</label>
            <select name="selected_room" id="date">
                <option value="">-- Select room --</option>
                <option value="101">101</option>
                <option value="102">102</option>
                <option value="103">103</option>
                <option value="104">104</option>
            </select>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>